.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: italic;
}

.heading {
  font-family: "Pinyon Script", cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.08em;
}


.box {
  background-color: rgba(241, 241, 237, 0.336);
  margin-top:70px;
  margin-left: 500px;
  margin-right: 500px;
  padding:70px;
  border-radius:15px;
  border: -50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
}


body {
  position: center;
  margin: 0;
  font-family:"anonymous Pro", monospace;
  text-align: center;
  font-size: large;

}

body::before {
  content: "";
  position: fixed;       
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/736x/56/28/1b/56281bee73731118d5bf1fefc69b90fd.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);     
  z-index: -1;   
}

#number {
  font-family: "Anonymous Pro", monospace;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  margin-top: -50px;
  letter-spacing: 1em;
}



#footerr {
  font-family: "Anonymous Pro", monospace;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}


#title {
  font-family: "Pinyon Script", cursive;
  font-size: 110px;
  font-weight: lighter;
  text-align: center;
  margin-top: -10px;
  letter-spacing: 0.01em;
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
  margin: 40px auto;
  width: 90%;
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
  margin-bottom: 40px auto;
  width: 90%;
}


hr {
  border: none;
  height: 1px;
  background-color: #000;
  margin: 40px auto;
  width: 90%;
}

#list {
  font-family: "Anonymous Pro", monospace;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  letter-spacing: 0.05em;
}